.view-uw-grebel-publication .view-content .view-grouping-header .node-uw-grebel-journal .node-inner h2 {
  border-bottom: 1px solid #96172e;
  color: #111111;
  font-size: 1.3em;
  margin-bottom: 0.8em;
  padding-bottom: 1px;
  clear: both;
  font-weight: bold;
}

.views-field-field-file .publication-pdf-file .file .file-icon {
  display: none;
}

.view-grouping-header .grebel-html-pdf {
  margin-bottom: 0.8em;
  margin-left: 1.5em;
}
.view-grouping-header ul {
  padding: 0 0 0 1.5em;
}

.view-grouping-header ul li {
  padding: 0;
}
.view-grebel-past-issues .view-content h3 {
  border-bottom: 1px solid #96172e;
  color: #111111;
  font-size: 1.3em;
  margin-bottom: 0.8em;
  margin-top: 0.5em;
  padding-bottom: 1px;
}

.view-id-grebel_past_issues .view-content .views-row .views-field {
  margin-left: 2em;
}

.views-field-field-journal-year-1 {
  padding: 1.5px;
}

.menu-position-link {
  display: none !important;
}

.search-past-issues {
  padding-bottom: 0.8em;
}

.view-grebel-issues-search .view-header {
  padding-bottom: 1.2em;
}

.foreword-author {
  padding-left: 1.5em;
}

.view-grebel-past-issues-by-year-volume-issue h3 {
  margin-bottom: 0.5em;
}

.content_node .field-name-field-journal-biblio-info .field-items {
  padding-bottom: 0em;
}
.content_node .field-name-field-journal-foreword-title .field-items {
  padding-bottom: 0em;
}

.content_node .field-name-field-publication-biblio-info .field-items {
  padding-bottom: 0em;
}

.views-field-title-2 h2 {
  border-bottom: none;
}

#content #edit-title-wrapper .form-text,
#content #edit-field-publication-authors-value-wrapper .form-text {
  max-width: 190px;
  min-width: 190px;
}

#views-exposed-form-grebel-issues-search-search-past-issues-page .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.3em;
}
